/*
  PIED DE PAGE
*/
#conteneur > footer {
    background-color: #5f5f5f;
    color: #ffffff;
    margin: 0;
    padding: 40px 170px 60px 170px;
  }
  
  /* Adresse et carte Google */
  #conteneur > footer div.adresse {
    font-size: 1.45rem;
    font-weight: 400;
    text-align: center;
  }
  
  #conteneur > footer div.adresse p {
    margin: 10px 0;
  }